* {
    text-decoration: none;
}

body{
    background-color:#f6f5f5;
    
    margin: 0px;
    padding: 0px ;
  }

  footer {
    display: none;
  }
  

  header {
    display: none;
  }

  header .header-brand {
    display: none;
  
  }

header nav ul {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    text-align: center;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    
    font-family: Cambria;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: blue;
  }

  .sidenav{
    display: none;
  }

  .hello{
    display: none;
  }

  @media only screen and (min-width: 600px) {

   

   .header-brand {
     display: block !important;
   }

   header .header-brand {   
       
    margin: 20px 0 0 10px; 
    text-align: left;
    line-height: 20px;
    padding: 0 10px 0 10px;
    border-right: 3px solid #111;
    float: left;
}



    header {
      background-color: #fff;
      width: 100%;
      height: 60px;
    }

header nav ul {
        margin: 20px 0 0 -40px;  
        display: flex;
        float: left;
    }
    
      
    header nav ul li a {
        line-height: 20px;
        
    }

   
    
}
  

 

  .text {
    display: table-cell;
    vertical-align: middle;
   
  }
 





/*index*/

.index-banner {
    width: 100%;
    height: 700px;
    background-image: url('images/bg4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    display: table;
   
    background-repeat: no-repeat;
    background-size: cover;
  
}

.text {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h1 {
    font-family: Georgia;
    font-size:  40px;
    font-weight: 900;
    line-height: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;

}

.index-banner h2 {
    font-family: Georgia;
    font-size:  30px;
    font-weight: 900;
    font-style: italic;
    line-height: 20px;
    color: rgb(61, 12, 240);
    text-align: center;
    text-shadow: 2px 2px 6px #111;

}

.text button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin:0 0 0 30px;
    padding: 0 0 5px 0;
    outline: none;
  }
  
  .intro button{
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #262525;
    margin: 0 0 0 20px;
    
  }
  
  .hire{
    border: none;
    color: #FFFFFF;
    
  }
  
  .download{
    background-color: #0b0b0b;
    color:#FFFFFF;
    border:none;
  }

  .hire:hover{
    background-color: rgb(14, 48, 240);
  }
  
  .download:hover{
    background-color: blue;
  }

  .text{
    position: absolute;
    left:25%;
    top:25%;
    transform: translate(-15%, -45%);
  }
  
  .text p{
    line-height: 0px;
    margin:45px 0px 20px;
  }

  .me{
    height: 300px;
    position: absolute;
    bottom: -10px;
    left: 65%;
    transform: translate(-80%);
    
  }

    

   /* Tablet display */
@media only screen and (min-width: 600px) {

 

  .hello{
    display: block;
  }
    
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  position: fixed;
}

#mySidenav a:hover {
  left: 0;
}

#top{
  top: 60px;
  background-color: purple;
}

#about {
  top: 120px;
  background-color: #4CAF50;
}

#resume {
  top: 180px;
  background-color: #2196F3;
}

#projects {
  top: 240px;
  background-color: #f44336;
}

#contact {
  top: 300px;
  background-color: #555
} 

.about-text{
  width:80% !important;
  height: 250px !important;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: 4% auto 20px auto;
  justify-content: space-evenly;
  align-items: center;
  
}

.text p:nth-child(1){
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color:#6d6d6d;
  font-size: 20px;
}


.text{
  position: absolute;
  left:20%;
  top:42%;
  transform: translate(-15%, -45%);
}

.text p{
  line-height: 0px;
  margin:45px 0px 20px;
}

h5 {
  color: blue;
  font-size: large;
}

.me{
 
  position: absolute;
  bottom: -20px;
  left: 80%;
  height: 400px;
  transform: translate(-80%);
  
}


}

  @media only screen and (min-width: 700px) {

   

    header {
      display: block;
    }


    .text p:nth-child(1){
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      color:#6d6d6d;
      font-size: 20px;
    }
    
    .text{
      position: absolute;
      left:20%;
      top:42%;
      transform: translate(-15%, -45%);
    }
    
    .text p{
      line-height: 0px;
      margin:45px 0px 20px;
    }
    
    
    
    .text button{
      width: 130px;
      height: 50px;
      border-radius: 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      margin:0px 10px;
      outline: none;
     
    }
   

  }

  /* Cell Phone Size */

  .intro p:nth-child(1){
    color: 3e3d3d;
    font-family: myriad pro;
    font-weight:bold;
    font-size: 27px;
    line-height: 0px;
    margin: 20px;
    
  }
  
  .intro p:nth-child(2){
    color: blue;
    font-size: 15px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
    margin: 20px;
  }
  
  .intro p:nth-child(3)
  {
    color: #7e7d7d;
    font-family: calibri;
    font-size: 15px;
    margin: 10px
  }
  
  .intro button:hover{
    background-color: green;
  }
  
  .about-text{
    width:90%;
    height: 280px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: 4% auto 20px auto;
    justify-content: space-evenly;
    align-items: center;
    
  }


  .frame {
    display: none;
  }
  
  .projects{
    width:90%;
    height:120px;
    background-color: #ffffff;  
    border-radius: 10px;
    justify-content: space-evenly;
    margin: -4% auto 20px auto;
    align-items: center;
    
    
  }
  
  .projects p{
    font-family: cursive;
    font-weight: bold;
    color:#3e3d3d;
    font-size: 30px;
    line-height: 0px;
    margin: 5px;
  }
  
  .projects-text p{
    font-family: sans-serif;
    color:#7e7d7d;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin: -20px 0px 0px 0px;
   
  }
  
  .projects-text{
    
    margin: 40px 5px 5px 10px;
  
  }

  .box{
    margin: 16px 16px 0;
    width: 95%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: black;
  
  }
  
  .boxes {
    margin: 20px 10px 0 10px;
  }
  
       
  .box span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  
  .box p#heading{
  
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 40px;
    font-size: 25px;
    
  
  }
  
  
  p#details{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    line-height: 20px;
    
  }
  
  
  .boxes button{
    width: 120px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
  }
  
  .boxes button:hover{
    background-color: blueviolet;
  }
  
    
  .boxes:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
   
  }
  .boxes:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }


  @media only screen and (min-width: 700px) {

    section {
      width: 100%;
      height: 95vh;
        
     background-color: linear-gradient(46deg,orange,yellow,pink,orange,green,blue);          /*background: linear-gradient(pink 70%, cyan 50%);*/
      background-repeat: no-repeat;
      background-size: cover;
    
    }

    .box{
      width: 30%;
      height: 380px;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 12px rgba(0,0,0,0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      background-color: black;
    
    }

    .boxes {
   
      display: flex;
      justify-content: space-between;
    }

    .about-text{
      width:80% !important;
      height: 280px ;
      background-color: #FFFFFF;
      border-radius: 20px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
      display: flex;
      margin: -5% auto 20px auto;
      justify-content: space-evenly;
      align-items: center;
      
    }

    .index-box {
      overflow: hidden;
    }

    .index-box div {
      margin: 20px 10px 0;
      float: left;
    }

    .index-banner {
      width: 100%;
      height: 900px;
      background: linear-gradient(46deg,orange,yellow,pink,orange,green,blue);          /*background: linear-gradient(pink 70%, cyan 50%);*/
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30%;
      display: table;
     
      background-repeat: no-repeat;
      background-size: cover;
    
  }

    .box {
      display: flex;
    }

    .box p#heading{
  
      color: #FFFFFF;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
      font-weight: 800;
      line-height: 40px;
      
    
    }

   

    .me{
      height: 450px;
      position: absolute;
      bottom: 100px;
      left: 75%;
      transform: translate(-80%);
      
    }


  }

  @media only screen and (min-width: 1000px) {

    .sidenav {
      display: block;
    }

    .about-text{
      width: 70% !important;
      height: 330px;
      background-color: #FFFFFF;
      border-radius: 20px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
      display: flex;
      margin: -30px auto 20px auto !important;
      justify-content: space-evenly;
      align-items: center;
      
    }

    
.frame img {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:5px;
  height:200px;
  padding:15px 15px 18px 15px;
  position:relative;
  text-align:center;
}
  .frame:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  .frame:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }

   

    .me{
      height: 550px;
      position: absolute;
      bottom: -100px;
      left: 70%;
      transform: translate(-80%);
      
    }

    .intro{
      width:500px;
    }

    .about-text{
      width:80%;
      height: 250px !important;
      background-color: #FFFFFF;
      border-radius: 20px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
      display: flex;
      margin: 4% auto 20px auto;
      justify-content: space-evenly;
      align-items: center;
      
    }

    .projects{
      height:600px;
      width: 70%;
      background-color: #ffffff;  
      margin-top: -40px;
      padding: 2% 10% 0px 10%;
    }
    
    .projects p{
      font-family: cursive;
      font-weight: bold;
      color:#3e3d3d;
      font-size: 30px;
      line-height: 0px;
      margin: 5px;
    }
    
    .projects-text p{
      font-family: sans-serif;
      color:#7e7d7d;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      margin: -20px 0px 0px 0px;
     
    }

    .projects-text{
      width: 500px;
      margin: 50px;
    
    }

    .box{
      width: 30%;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 12px rgba(0,0,0,0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      background-color: black;
    
    }
    
    .boxes{
      display:flex;
      justify-content: space-between;
      margin-left: -30px;
      
      
    }

    .box p#heading{
  
      color: #FFFFFF;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 25px;
      font-weight: 700;
      line-height:70px;
      
    
    }

    p#details{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      color: #aaa3a3;
      line-height: 40px;
      
    }
    footer {
      display: block;
    }
    
  
  }

  @media only screen and (min-width: 1200px) {

    .me{
      height: 550px;
      position: absolute;
      bottom: -200px;
      left: 65%;
      transform: translate(-80%);
      
    }

  }

  @media only screen and (min-width: 1600px) {

    .me{
      height: 750px;
      position: absolute;
      bottom: -20px;
      left: 60%;
      transform: translate(-80%);
      
    }

  }


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  background-color: blue;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: orange;
  color: black;
  font-weight: bold;
}

.cancelbtn:hover{
  background-color: red;
  color: white;
}

/* Center the image and position the close button */
.exit {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


footer{
  background-color: #a8a5a2;
  height: 30px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding: 1.5em 2.0em;
  line-height: 0;
 
}

footer ul#bottom{
  display: inline-block;
  list-style: none;
  margin: 0 0 0 0.6em;
  padding: 0;
}

#bottom li{
  display: inline-block;
  padding: 0 0.4em 0 0;
}

footer ul#bottom a:hover{
  color: rgb(15, 247, 15);
}

footer a:link{
  color: white;
  text-decoration: none;
}

footer a:visited{
  color: white;
  text-decoration: none;
  
}


div.last{
  clear: both;
  font-size: 1%;
  font-family: italic arial 'Times New Roman', Times, serif;
}

.software{
  background-color: lightgray;
}

.container{
  width: auto;
}
  